body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 56, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#pista {
    font-size: 20px;
    margin-top: 20px;
    color: #ccc;
}